.App {
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

.App button {
  color: black !important;
  background-color: #bdb10f;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button {
  all: unset;
  color: black !important;
  background-color: #bdb10f;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  text-align: center;
}
button:hover {
  background-color: #dfdf6e;
  transform: scale(1.05);
  transition: background-color 0.9s ease, transform 0.9s ease;
  box-shadow: 0 4px 8px rgba(187, 177, 39, 0.2);
  border: 1px solid #bdb10f;
  border-radius: 5px;
  color: black !important;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

button:active {
  background-color: #bdb10f;
  transform: scale(1.95);
  transition: background-color 0.7s ease, transform 0.7s ease;
}

.custom-button {
  color: black !important;
  background-color: #bdb10f;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.positive {
  color: green;
  font-weight: bold;
}
.negative {
  color: red;
  font-weight: bold;
}

.neutral {
  color: gray;
  font-weight: normal;
}

/* Stiluri generale */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00;
}

.content {
  padding-top: 80px; /* Înălțimea navbarului + spațiu */
}
